<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <title>Boiler alert system</title>

</head>

<body>
    <h1>Boiler Alert System</h1>
    <h3>Plot</h3>
    <div id="plotly-div"></div>
    <h3>Alerts</h3>
    <div style="width: 500px; height: 600px; overflow:auto;">
        <table cellspacing="0" cellpadding="1" border="1" width="100%">
            <thead>
                <tr>
                    <th>Alert Type</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody id="sse-output">
            </tbody>
        </table>
    </div>
</body>
<script>
    let temps = [];
    let times = [];
    let previousAlerts = [];
    function createTableEntry(data) {
        const row = document.createElement("tr");
        const alertTypeCell = document.createElement("td");
        const timeCell = document.createElement("td");
        alertTypeCell.textContent = data.alert_type;
        timeCell.textContent = new Date(data.timestamp).toLocaleString();
        row.appendChild(alertTypeCell);
        row.appendChild(timeCell);
        return row;

    }
    //Plotly.newPlot('plotly-div', data);
</script>

<script>
    const sseElement = document.querySelector("#sse-output")
    const evtSource = new EventSource("http://localhost:3456/alerts");
    evtSource.addEventListener("catalert", (event) => {

        const newElement = document.createElement("p");
        const eventList = document.getElementById("sse-output");
        const data = JSON.parse(event.data);
        previousAlerts = [data, ...previousAlerts];
        eventList.textContent = "";
        previousAlerts.forEach((elem) => {
            eventList.appendChild(createTableEntry(elem));
        });
    });
    const tempSource = new EventSource("http://localhost:3456/temps");
    function limitArray(arr, limit) {
        return arr.slice(-limit);
    }
    tempSource.addEventListener("temp", (event) => {
        const graphDiv = document.querySelector('#plotly-div');
        const { timestamp, temperature } = JSON.parse(event.data);
        temps.push(temperature);
        times.push(timestamp);
        temps = limitArray(temps, 100);
        times = limitArray(times, 100);
        const trace = {
            x: times,
            y: temps,
            type: 'scatter'
        }
        Plotly.newPlot('plotly-div', [trace]);


    });
</script>


</html>